/* Universal Selector အကုန်လုံး */
*{
    /* color: red; */
    font-size: 20px;
    margin: 0;
}
/* tag / element selector */
h1{
    color: green;
    text-align: center;
    margin: 50px 0px;
}

/* attribue selector */
a[title="google"]{
    color: blue;
    letter-spacing: 2px;
}
/* id seletor id ကြေညာတဲ့အခါ id တူလို့မရပါ*/
#idone{
    color: brown;
}
/* class selector clssသည် တစ်ခုထက်မက သတ်မှတ်နိုင် */
.classone{
    color: blueviolet;
    line-height: 25px;
    text-indent: 40px;
    text-transform: uppercase;
    word-spacing: 10px;
}
/* descendent selector */
.desc a{
    color: red;
    text-decoration: none;
}
.child > a{
    color: green;
}
/* Pseudo selector */
/* :link သည် a tag မှာသာအသုံးပြုလို့ရတယ်*/
/* စစချင်းအရောင် လိုချင်ရင် a:linkနဲ့ရေးရတယ် */
a:link{
    color:red;
}
/* mouse နဲ့ထောက်လိုက်တဲ့အခါ အရောင်ပြောင်းချင်ရင် a:hoverနဲ့ရေးပါ */
a:hover{
    color:green;
}
/* clickလိုက်တဲ့အခါ အရောင်ပြောင်းချင်ရင် a:activeနဲ့ရေးပါ */
a:active{
    color:yellow;
}
/* အလည်လာပြီးပြန်ထွက်တဲ့အခါ အရောင်ပြောင်းချင်ရင် a:visitorနဲ့ရေးပါ */
a:visited{
    color:purple;
}
/* target */
/* ပစ်မှတ်ထားတဲ့နေရာ ပြောင်းလဲချင်ရင် id ပေးထားပြီး targetနဲ့ရေးပါ။ ကိုယ်လိုချင်တဲ့ tag(p tag div tag စသည်ဖြင့်)ပြောင်းချင်ရင် tag နာမည် အထိအကျရေးပါ  */
 :target{
    color:red;
    border:2px solid black;
}
/* border ဘောင်ခတ်ထားချင်သောနေရာ*/
.borderOne{
    border: 20px dotted blue;
}

.borderTwo{
    border-bottom: 2px solid blue;
}

.borderSizeOne{
    border-style: solid;
    /* border-width: 10px; */
    /* trbl */
    /* border-with: 10px 100px*/
    /* T&B/L&R */
    /* border-width: 10px 50px 100px */
    /* T/L&R/B */
    border-width: 1px 15px 18px 15px ;
    /* T R B L */
}

.borderStyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}
/* margin */
.margin{
    border: 1px solid black;
    /* margin: 100px; */
    margin: 50px 20px;
    /* margin-left;200px; */

}
/* padding */
.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 20px;
}
/* Inline layout */
.inline{
    border: 1px solid red;
    width: 300px;
    display: inline-block;

}
/* block */
.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;  
}
/* float l/r */
.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.float_right img{
    width: 40%;
    float: right;
}
/* grid */
.gridOne div,.gridTwo div,.gridThree div,.gridFour div,.gridFive div,.gridSix div{
    padding: 20px;
    color: white;
    text-align: center;
}
.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridTwo{
    grid-column-gap: 50px;
}
.gridThree{
    grid-row-gap: 30px;
}
.gridFour{
    grid-gap: 50px;
    /* grid-row-gap:40px; */
    /* grid-colum-gap: 20px */
}
.colunmadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}
/* Position */
.relative_parent{
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}
.relative{
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 150px;
}
.absolute_parent{
    border: 2px solid purple;
    width: 1000px;
    height: 500px;
    position: relative;
}
.absolute{
    border: 2px solid black;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 30px;
}
.fixed{
    position: fixed;
    top: 100px;
    right: 100px;
}

/* online font */
.onlineFont {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
/* offline font ချိတ်နည်း */
@font-face {
    font-family: Shadow;
    src: url(Fonts/ShadowsIntoLight-Regular.ttf);
}

.offline{
    font-family: Shadow;
}
  





